.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width:1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-search {
  padding-top: 40px;
  padding-bottom: 40px;
  background: linear-gradient(90deg, rgba(132, 127, 217, 1) 0%, rgba(166, 194, 223, 1) 100%);
}

.section-gallery {
  padding-top: 10px;
  padding-bottom: 30px;
}